.deps
.dirstamp
*.lo
*.m4
*.o
*.swp

liblog4cxxNG.pc

src/main/cpp/.libs/
src/main/cpp/liblog4cxxNG.la
src/main/include/log4cxxNG/log4cxxNG.h
src/main/include/log4cxxNG/private/log4cxxNG_private.h
src/site/doxy/Doxyfile
src/site/doxy/manual/
src/test/resources/output/
target/
build/
